base_game/packageMod/sserafim/songs/spaghetti/song/Voices.ogg
base_game/packageMod/sserafim/songs/spaghetti/song/Inst.ogg
contents/vslice/base_game/packageMod/sserafim/songs/spaghetti/song/Voices.ogg
contents/vslice/base_game/packageMod/sserafim/songs/spaghetti/song/Inst.ogg
